.header {
    height: 70vh;
    background-size: cover;
    background-position: top;
    margin-bottom: 2rem;

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 8rem;
        z-index: 2;
    }

    &__logo {
        height: 7rem;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        text-align: center;
        z-index: 3;
    }

    &__icon {
        height: 4rem;
        width: 4rem;
        font-weight: 100;
        margin-top: 6rem;
        fill: $color-grey-light-3;
        cursor: pointer;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all .2s;
        animation: moveInBottom 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

// MEDIA QUERIES    
    @media only screen and (max-width: 900px) {
        &__text-box {
            width: 80%;
        }

        &__icon {
            margin-top: 4rem;
        }     
    }

    @media only screen and (max-width: 600px) {
        &__icon {
            display: none;
        }
    }

    @media only screen and (max-width: 500px) {
        &__logo-box {
            top: 2rem;
            left: 3rem;
        }
    }
}