.btn-inline {
    border: 2px solid $color-grey-dark-1;
    color: $color-primary-dark;
    background-color: $color-grey-light-3;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: $color-grey-light-3;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-primary;
    }
}

.details {
    min-height: 40rem;
    background-color: $color-grey-light-2;
}

.details__button {
        display: flex;
        justify-content: center;
    }

.btn-inline-details {
    border: 2px solid $color-grey-dark-3;
    color: $color-grey-dark-2;
    background-color: $color-grey-light-2;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 1rem 2.5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        color: $color-grey-light-3;
        background-color: $color-primary;
        border: 2px solid $color-primary;
    }
}